<div class="container">

<section class="last-news" >
    <div class="last-news-heading" style="text-align:center; padding:0x 10px; "> 
        <span style="font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-2-16);
    color: var(--unnamed-color-000000);
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 2.16px;
    color: #000000; ">OUR NEWS </span>
        <h2 >LATEST <span style="color:#2667b1 ;">BLOGS</span> AND EVENTS </h2>
    </div>

<div class="news">
 
    <div class="item flex">
<div class="img" > <img src="../../assets/img/Your image mask-3.png"> </div>
<div class="details">
<h3 >Changan Rank in China and Globally </h3> 
<p >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
<a>View More</a> 
</div>
</div>
<div class="item flex">
    <div class="img"  > <img src="../../assets/img/Your image mask-3.png"> </div>
    <div class="details">
    <h3 >Changan Rank in China and Globally </h3> 
    <p >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
    <a>View More</a> 
    </div>
    </div>
    <div class="item flex">
        <div class="img"  > <img src="../../assets/img/Your image mask-3.png"> </div>
        <div class="details">
        <h3 >Changan Rank in China and Globally </h3> 
        <p >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
        <a>View More</a> 
        </div>
        </div>
        <div class="item flex">
            <div class="img" > <img src="../../assets/img/Your image mask-3.png"> </div>
            <div class="details">
            <h3 >Changan Rank in China and Globally </h3> 
            <p >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
            <a>View More</a> 
            </div>
            </div>
</div>
<button class="more">SEE MORE</button>

</section>

</div>
