.row {
  display: flex!important;
  flex-wrap: wrap !important;

}

.col-xl-8,
.col-lg-7 {
  flex: 0 0 66.666667% !important;
  max-width: 66.666667% !important;
  flex-wrap: wrap !important;

}

.col-xl-4,
.col-lg-5 {
  flex: 0 0 33.333333% !important;
  flex-wrap: wrap !important;

  max-width: 33.333333% !important;
}

.card {
  width: 164px !important;
  height: 224px !important;
  margin: 13px !important;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #E4E4E4 !important;
  opacity: 1 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .content h3{
  margin: 3px;
}
.card-description{
  margin-left: 15px!important;
}

.card-title{
  margin-left: 15px!important;
}



h2 {
  font-size: 32px!important;
  margin-left: 15px!important;
  font-weight: medium!important;
  line-height: 50px!important;
  color: #2667B1!important;
  opacity: 1!important;
}

p.text-black-50 {
  font-size: 18px!important;
  line-height: 28px!important;
  color: #000000!important;
  opacity: 0.75!important;
  margin-bottom: 70px;
margin-top: 10x;
}

button {
  width: 196px!important;
height: 61px !important;
  font-size: 24px !important;
  line-height: 1!important;
  color: #FFFFFF!important;
  text-align: center!important;
  background-color: #2667B1!important;
  margin-left: 15px!important;
}

.card-button{
  width: 82px!important;
  height: 23px!important;
  text-align: left!important;
  font: normal normal normal 12px/16px Roboto!important;
  letter-spacing: 1.44px!important;
  color: #FFFFFF!important;
  opacity: 1!important;
  line-height: 1!important;
  color: #FFFFFF!important;
  text-align: center!important;
  background-color: #2667B1!important;
  margin-left: 15px!important;
  margin-bottom: 13px;
}

.img{
  width: 127px !important;
height: 74px !important;
background: transparent url('../../assets/img/Transparent-8.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
margin-left: 13px;
}


@media (max-width: 720px) {
.card {
width: 100% !important;
margin:6px !important;
}
p.text-black-50 ,button ,.featured-text h2{
  margin-left: 28px !important;
}
}

@media (max-width: 720px) {
.section-dev{
display: flex !important;
flex-direction: column !important;

}
.col-xl-4,  .col-lg-5{
  flex: 0  !important;
     flex-wrap: wrap !important; 
     max-width: 80% !important;
}
.card{
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
}
@media (max-width: 550px) {
.col-xl-8,.col-lg-7{
max-width:  100% !important;

}
.row{
flex-wrap: wrap !important;
justify-content: center !important;
}
.card-description,.card-title{
text-align: center !important;
}
.card-button{
margin-left: 39vw !important;
}
}