<div class="container">

<section class="accessories mt-5" style="width: 100%">
    <div class="row gx-0 mb-4 mb-lg-5 section-dev align-items-center">
        <div class="col-xl-8 col-lg-7">
            <div class="row big-card">
                <div class="card">
                    <div class="img">
                       
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>
               
                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>

                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                   
                </div>
                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                    </div>
                    <div class="content">
                        <h3 class="card-title">Oil Filter</h3>
                        <p class="card-description">2022/FILTERS</p>
                        <button class="card-button">273 SAR</button>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-lg-left">
                <h2>SPARE PARTS &amp; ACCESSORIES</h2>
                <p class="text-black-50">Changan spare parts and accessories are essential components that help maintain
                    or improve the performance of Changan vehicles. Changan is a Chinese car manufacturer that produces
                    a range of vehicles, including sedans, SUVs, and vans. Here are some examples of simple Changan
                    spare parts and accessories and their descriptions.</p>
                <button>SHOW MORE</button>
            </div>
        </div>
    </div>
</section>

</div>
