<div class="container pb-16">
  <div class="product-details">
  <h2 class="text-tittle text-2xl font-medium text-gray-800 uppercase mb-6">
    FIND A CAR
  </h2>
  <h3  class="list text-2xl font-medium text-gray-800 uppercase mb-6">OUR <span style="color:#2667b1;">CARS</span> LISTING </h3>
</div>
  
  <div class=" grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-6">
    <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300" > 
      <div class="product">
        <div class="relative">
      <img
         src="../../assets/img//Transparent-1.png"
        alt="UNI-K"
        class="w-full"
        loading="lazy"
      />
    </div>
    <div class="pt-4 pb-3">
      <h4 class="uppercase font-medium text-xl text-black truncate">
        UNI-K
      </h4>
      <p class="text-base text-gray-500 truncate">
        Starting From  </p>
    </div>
  
    <div class="flex items-center justify-between mb-1 space-x-2">
      <div class="flex-col">
          <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
          color: var(--unnamed-color-ffffff);
          text-align: left;
          font: normal normal normal 11px/15px Roboto;
          letter-spacing: 1.32px;
          color: #FFFFFF;
          opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>
      </div>
     
    </div></div> </a>
    <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
      <div class="product">
      <div class="relative">
        <img
           src="../../assets/img//Transparent-1.png"
          alt="UNI-T"
          class="w-full"
          loading="lazy"
        />
      </div>
      <div class="pt-4 pb-3">
        <h4 class="uppercase font-medium text-xl text-black truncate">
          UNI-K
        </h4>
        <p class="text-base text-gray-500 truncate">
          Starting From  </p>
      </div> 
      <div class="flex items-center justify-between mb-1 space-x-2">
        <div class="flex-col">
          <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
          color: var(--unnamed-color-ffffff);
          text-align: left;
          font: normal normal normal 11px/15px Roboto;
          letter-spacing: 1.32px;
          color: #FFFFFF;
          opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>        </div>
       
      </div></div> </a> 
      <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
        <div class="product">
          <div class="relative">
          <img
             src="../../assets/img/Transparent-2.png"
            alt="UNI-K"
            class="w-full"
            loading="lazy"
          />
        </div>
        <div class="pt-4 pb-3">
          <h4 class="uppercase font-medium text-xl text-black truncate">
            UNI-K
          </h4>
          <p class="text-base text-gray-500 truncate">
            Starting From  </p>
        </div>
        <div class="flex items-center justify-between mb-1 space-x-2">
          <div class="flex-col">
            <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
            color: var(--unnamed-color-ffffff);
            text-align: left;
            font: normal normal normal 11px/15px Roboto;
            letter-spacing: 1.32px;
            color: #FFFFFF;
            opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>          </div>
         
        </div></div> </a>
        <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
          <div class="product">
            <div class="relative">
            <img
               src="../../assets/img//Transparent-3.png"
              alt="UNI-V"
              class="w-full"
              loading="lazy"
            />
          </div>
          <div class="pt-4 pb-3">
            <h4 class="uppercase font-medium text-xl text-black truncate">
              UNI-V
            </h4>
            <p class="text-base text-gray-500 truncate">
              Starting From  </p>
          </div>
          <div class="flex items-center justify-between mb-1 space-x-2">
            <div class="flex-col">
              <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
              color: var(--unnamed-color-ffffff);
              text-align: left;
              font: normal normal normal 11px/15px Roboto;
              letter-spacing: 1.32px;
              color: #FFFFFF;
              opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>            </div>
           
          </div></div> </a>
          <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
            <div class="product">
              <div class="relative">
              <img
                 src="../../assets/img//Transparent-4.png"
                alt="Hunter"
                class="w-full"
                loading="lazy"
              />
            </div>
            <div class="pt-4 pb-3">
              <h4 class="uppercase font-medium text-xl text-black truncate">
                Hunter
              </h4>
              <p class="text-base text-gray-500 truncate">
                Starting From  </p>
            </div>
            <div class="flex items-center justify-between mb-1 space-x-2">
              <div class="flex-col">
                <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
                color: var(--unnamed-color-ffffff);
                text-align: left;
                font: normal normal normal 11px/15px Roboto;
                letter-spacing: 1.32px;
                color: #FFFFFF;
                opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>              </div>
             
            </div></div> </a>
            <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
              <div class="product">
                <div class="relative">
                <img
                   src="../../assets/img//Transparent-5.png"
                  alt="UNI-K"
                  class="w-full"
                  loading="lazy"
                />
              </div>
              <div class="pt-4 pb-3">
                <h4 class="uppercase font-medium text-xl text-black truncate">
                  CS55 Plus
                </h4>
                <p class="text-base text-gray-500 truncate">
                  Starting From  </p>
              </div>
              <div class="flex items-center justify-between mb-1 space-x-2">
                <div class="flex-col">
                  <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
                  color: var(--unnamed-color-ffffff);
                  text-align: left;
                  font: normal normal normal 11px/15px Roboto;
                  letter-spacing: 1.32px;
                  color: #FFFFFF;
                  opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>                </div>
               
              </div></div> </a>
              <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
                <div class="product">
                  <div class="relative">
                  <img
                     src="../../assets/img//Transparent-6.png"
                    alt="UNI-K"
                    class="w-full"
                    loading="lazy"
                  />
                </div>
                <div class="pt-4 pb-3">
                  <h4 class="uppercase font-medium text-xl text-black truncate">
                    UNI-T
                  </h4>
                  <p class="text-base text-gray-500 truncate">
                    Starting From  </p>
                </div>
                <div class="flex items-center justify-between mb-1 space-x-2">
                  <div class="flex-col">
                    <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
                    color: var(--unnamed-color-ffffff);
                    text-align: left;
                    font: normal normal normal 11px/15px Roboto;
                    letter-spacing: 1.32px;
                    color: #FFFFFF;
                    opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>                  </div>
                 
                </div></div> </a>
                <a class="bg-white overflow-hidden p-6 border-primary -xl -all duration-300"> 
                  <div class="product">
                    <div class="relative">
                    <img
                       src="../../assets/img//Transparent-7.png"
                      alt="UNI-K"
                      class="w-full"
                      loading="lazy"
                    />
                  </div>
                  <div class="pt-4 pb-3">
                    <h4 class="uppercase font-medium text-xl text-black truncate">
                      UNI-V
                    </h4>
                    <p class="text-base text-gray-500 truncate">
                      Starting From  </p>
                  </div>
                  <div class="flex items-center justify-between mb-1 space-x-2">
                    <div class="flex-col">
                      <p style="font-size: 11px;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/15px var(--unnamed-font-family-roboto);
                      color: var(--unnamed-color-ffffff);
                      text-align: left;
                      font: normal normal normal 11px/15px Roboto;
                      letter-spacing: 1.32px;
                      color: #FFFFFF;
                      opacity: 1; background-color: #2667b1; padding: 8px; "> 920,000 EGP</p>                    </div>
                   
                  </div></div> </a>
      
     
  </div>
</div>
