.shadow-xl{
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
      0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(126 59 86 / var(--tw-border-opacity));
  }
  .sale-div{
    background-color: #F6F7FB;
    width: 58px;
    height: 20px;
  }
  .sale{
text-align: center;
font: normal normal medium 12px/18px Roboto;
letter-spacing: 0.1px;
color: #7E3B56;
opacity: 1;
  }
  .text-tittle{
    width: 120px;
height: 24px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-2-16);
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal normal 18px/24px Roboto;
letter-spacing: 2.16px;
color: #000000;
padding-top: 30px;
padding-bottom: 10px;
  }
  .product-details{
    margin-left: 22px;
    margin-top: 30px;
  }
  .list {
    width: 244px;
height: 37px;
letter-spacing: 0px;
opacity: 1;
  }
  .product:hover{
   background: #F5FAFF 0% 0% no-repeat padding-box;
opacity: 1;
  }
  .product-cont:click{
    background: #F5FAFF 0% 0% no-repeat padding-box;
 opacity: 1;
 border-bottom: 6px solid #2667b1;
   }
   a{
    text-decoration: none;
   }
   a:active {
    background: #F5FAFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-bottom: 6px solid #2667b1;  }