
    <div class="news">


    <div class="container">
      <div class="flex">
        <div class="sc-htpNat content">
          <h5 >
            NEWSLETTER.
          </h5>
          <h2>
            Get Discount 30% Off
          </h2>
          <p >
            Get 30% discount with notified about the latest news and <br> updates. No spam, we promise!
          </p>
        </div>
        <form>
          <div >
            <label for="email">Email</label
            ><input
            
              placeholder="Enter your email"
              type="email"
              name="email"
              required=""
             
              value=""
            />
          </div>
          <div >
            <button font-family="Open Sans" type="submit">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

